{{#section 'css'}}
<style>
    .boton_reporte{
        width: 100%!important;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .boton_reporte a{
        width: 100%;
    }
</style>
{{/section}}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Reportes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{urlglobal}}/home">Inicio</a></li>
                    <li class="breadcrumb-item active">Reportes</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content" id="contenedorReportes">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3>Reportes</h3>
                    {{#if_equal user.tipo 'ADMINISTRADOR'}}
                    {{> includes/reporte/reporte_admin}}
                    {{/if_equal}}
                    {{#if_equal user.tipo 'AUXILIAR'}}
                    {{> includes/reporte/reporte_auxiliar}}
                    {{/if_equal}}
                    {{#if_equal user.tipo 'DOCTOR'}}
                    {{> includes/reporte/reporte_doctor}}
                    {{/if_equal}}
                </div>
            </div>
        </div>
    </div>
</div>

{{> reportes/modal/m_usuarios}}
{{> reportes/modal/m_doctores}}
{{> reportes/modal/m_pacientes}}
{{> reportes/modal/m_kardex}}
{{> reportes/modal/m_seguimiento}}
{{> reportes/modal/m_citas}}

{{#section 'scripts'}}
<script src="{{urlglobal}}/js/reportes/filtro.js"></script>
{{/section}}
