<!-- BEGIN breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Reportes</a></li>
  <li class="breadcrumb-item active">Usuarios</li>
</ol>
<!-- END breadcrumb -->
<!-- BEGIN page-header -->
<h1 class="page-header">Reportes <small>Usuarios</small></h1>
<!-- END page-header -->

<div class="row mb-3">
    <!-- BEGIN col-6 -->
    <div class="col-md-12">
        <!-- BEGIN panel -->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-11">
            <!-- BEGIN panel-body -->
            <div class="panel-body">
                <form action="{{urlbase}}/reportes/pdf/usuarios" method="GET" target="_blank" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4 mx-auto">
                            <h4 class="w-100 text-center">Lista de Usuarios</h4>
                            <div class="form-grou mb-3">
                                <label for="">Selecionar</label>
                                <select name="filtro" id="filtro" class="form-select" required>
                                    <option value="todos">Todos</option>
                                    <option value="tipo">Tipo de Usuario</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label>Seleccionar tipo de usuario</label>
                                <select name="tipo" id="tipo" class="form-select">
                                    <option value="todos">Todos</option>
                                    <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                                    <option value="SUPERVISOR">SUPERVISOR</option>
                                    <option value="VENDEDOR">VENDEDOR</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary w-100 me-5px">Generar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END panel -->
    </div>
    <!-- END col-6 -->
</div>

{{#section 'scripts'}}
<script>
    let filtro = $("#filtro");
    let tipo = $("#tipo");
    document.addEventListener('DOMContentLoaded', function() {
        tipo.parents(".form-group").hide();

        filtro.change(function(){
            let value = $(this).val();
            tipo.removeAttr("required");
            
            if(value == 'tipo'){
                tipo.parents(".form-group").show();
                tipo.prop("required","true")
            }
        })
    });
</script>
{{/section}}