<div class="menu-item has-sub">
  <a href="javascript:;" class="menu-link">
    <div class="menu-icon">
      <i class="fa fa-sitemap"></i>
    </div>
    <div class="menu-text">Análisis de Predicciones</div>
    <div class="menu-caret"></div>
  </a>
  <div class="menu-submenu">
    <div class="menu-item">
      <a href="index.html" class="menu-link"><div
          class="menu-text"
        >Inventario</div></a>
    </div>
    <div class="menu-item">
      <a href="index_v2.html" class="menu-link"><div
          class="menu-text"
        >Proveedores</div></a>
    </div>
    <div class="menu-item">
      <a href="index_v3.html" class="menu-link"><div
          class="menu-text"
        >Ventas</div></a>
    </div>
    <div class="menu-item">
      <a href="index_v3.html" class="menu-link"><div
          class="menu-text"
        >Clientes</div></a>
    </div>
  </div>
</div>

<div class="menu-item {{#if_equal pagina.actual "configuracions"}} active {{/if_equal}}">
    <a href="{{urlbase}}/configuracions" class="menu-link">
        <div class="menu-icon">
        <i class="fa fa-cog"></i>
        </div>
        <div class="menu-text">Configuración</div>
    </a>
</div>
