<!-- BEGIN col-3 -->
<div class="col-xl-3 col-md-6">
  <div class="widget widget-stats bg-info">
    <div class="stats-icon"><i class="fa fa-list-alt"></i></div>
    <div class="stats-info text-white">
      <h4>CLIENTES</h4>
      <p>{{clientes}}</p>
    </div>
    <div class="stats-link">
      <a href="{{urlbase}}/clientes">Ver más
        <i class="fa fa-arrow-alt-circle-right"></i></a>
    </div>
  </div>
</div>
<!-- END col-3 -->
<!-- BEGIN col-3 -->
<div class="col-xl-3 col-md-6">
  <div class="widget widget-stats bg-orange">
    <div class="stats-icon"><i class="fa fa-list-alt"></i></div>
    <div class="stats-info text-white">
      <h4>VENTAS</h4>
      <p>{{ventas}}</p>
    </div>
    <div class="stats-link">
      <a href="{{urlbase}}/ventas">Ver más
        <i class="fa fa-arrow-alt-circle-right"></i></a>
    </div>
  </div>
</div>
<!-- END col-3 -->