<h3>GESTACIÓN ACTUAL</h3>
<fieldset>
    <legend>INFORMACIÓN GESTACIÓN ACTUAL</legend>
    <p>(*) Obligatorio</p>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Fecha Inicio Gestación</label>
                <input type="date" value="{{consulta.gestacion.fecha}}" name="fecha" class="form-control">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Peso inicial</label>
                <input type="number" value="{{consulta.gestacion.peso}}" step="0.01" min="0" name="peso" class="form-control">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Uso de drogas*</label>
                <select name="drogas" id="drogas" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Violencia*</label>
                <select name="violencia" id="violencia" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Planeado</label>
                <select name="planeado" id="planeado" class="form-control">
                    <option value="">Seleccione...</option>
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                <label>Suplementos*</label>
                <select name="suplemento" id="suplemento" class="form-control">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Glucemia en ayunas*</label>
                <input type="number" value="{{consulta.gestacion.glucemia}}" min="0" name="glucemia" class="form-control required">
            </div>
        </div>
    </div>

</fieldset>