<h3>INFORMACIÓN LABORATORIOS</h3>
<fieldset>
    <legend>INFORMACIÓN LABORATORIOS</legend>
    <p>(*) Obligatorio</p>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Baciloscopía*</label>
                <select name="baciloscopia" id="baciloscopia" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Billirrubinas*</label>
                <select name="billirrubinas" id="billirrubinas" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Comproparasitológico Simple*</label>
                <select name="c_simple" id="c_simple" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Comproparasitológico Seriado*</label>
                <select name="c_seriado" id="c_seriado" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Creatínina en orina*</label>
                <select name="creatinina_orina" id="creatinina_orina" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Creatínina Sérica*</label>
                <select name="creatinina_serica" icreatininad="" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Cultivo p/germenes comunes y antibiolograma*</label>
                <select name="cultivo" id="cultivo" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Examen general de orina*</label>
                <select name="eg_orina" id="eg_orina" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Factor Reumatoide*</label>
                <select name="f_reumatoide" id="f_reumatoide" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Fosfata alcalina y acida*</label>
                <select name="fosfata" id="fosfata" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Frotis tinción Gram*</label>
                <select name="frotis" id="frotis" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Grupo Sanguíneo y factor Rh*</label>
                <select name="grupo_sanguineo" id="grupo_sanguineo" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Glicemia*</label>
                <select name="glicemia" id="glicemia" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Gota gruesa y frotis sanguineo - tinción*</label>
                <select name="gota" id="gota" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Hemoglobina y hematocritico*</label>
                <select name="hemoglobina" id="hemoglobina" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Hemograma completo*</label>
                <select name="hemograma" id="hemograma" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Inmunoglobulinas IgG, IgM, IgA*</label>
                <select name="igg" id="igg" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Moco fecal*</label>
                <select name="moco" id="moco" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Nitrogeno ureico sérico y úrea*</label>
                <select name="nitrogeno_usu" id="nitrogeno_usu" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Proteína C Reactiva - PCR*</label>
                <select name="proteinac" id="proteinac" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Proteinuria de 24 horas*</label>
                <select name="proteinuria" id="proteinuria" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Prueba de Coombs directa/indirecta*</label>
                <select name="coombs" id="coombs" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Prueba rapida para sifilis*</label>
                <select name="sifilis" id="sifilis" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Tiempo coagulación y tiempo de sangria*</label>
                <select name="coagulacion" id="coagulacion" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Tiempo de protrombia*</label>
                <select name="protrombia" id="protrombia" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Tinción PAP*</label>
                <select name="tincion" id="tincion" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Transaminasas TGI-TGP*</label>
                <select name="transaminasas" id="transaminasas" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Test de embarazo en sangre/HCG*</label>
                <select name="embarazo" id="embarazo" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Reactantes de fase aguda (VES,  Fibrinogeno y PCR)*</label>
                <select name="reactantes" id="reactantes" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Reacción Widal*</label>
                <select name="widal" id="widal" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>RPR para sifilis - VDRL*</label>
                <select name="rpr" id="rpr" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>        
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Estudios realizados</label>
                <textarea name="estudios" cols="30" rows="2" class="form-control">{{consulta.laboratorio.estudios}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Otros estudios realizados</label>
                <textarea name="otros_estudios" cols="30" rows="2" class="form-control">{{consulta.laboratorio.otros_estudios}}</textarea>
            </div>
        </div>
    </div>
</fieldset>