<div class="row">
    <div class="col-md-4">
        <div class="boton_reporte">
            <a href="#" data-toggle="modal" data-target="#m_doctores" target="_blank" class="btn btn-info">Lista de doctores</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="boton_reporte">
            <a href="#" data-toggle="modal" data-target="#m_pacientes" class="btn btn-info">Lista de pacientes</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="boton_reporte">
            <a href="#" data-toggle="modal" data-target="#m_kardex" class="btn btn-info">Kardex de pacientes</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="boton_reporte">
            <a href="#" data-toggle="modal" data-target="#m_seguimiento" class="btn btn-info">Seguimiento de pacientes</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="boton_reporte">
            <a href="#" data-toggle="modal" data-target="#m_citas" class="btn btn-info">Lista de citas médicas</a>
        </div>
    </div>
</div>