{{#section 'background-image'}}
style="background-image:url('{{urlbase}}/imgs/fondo.jpg')"
{{/section}}


<!-- BEGIN breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
    <li class="breadcrumb-item active">Panel</li>
</ol>
<!-- END breadcrumb -->
<!-- BEGIN page-header -->
<h1 class="page-header">Panel</h1>
<!-- END page-header -->


<div class="row">
        {{#if_equal user.tipo "ADMINISTRADOR"}}
        {{> includes/home/home_admin}}
        {{/if_equal}}
        {{#if_equal user.tipo "AUXILIAR"}}
        {{> includes/home/home_auxiliar}}
        {{/if_equal}}
        {{#if_equal user.tipo "DOCTOR"}}
        {{> includes/home/home_doctor}}
        {{/if_equal}}
        {{#if_equal user.tipo "PACIENTE"}}
        {{> includes/home/home_paciente}}
        {{/if_equal}}	
</div>

{{#section 'scripts'}}
<script>
    {{#if notifica}}
        {{#if muestra_notificacion }}
         swal({
            title: '¡ATENCIÓN!',
            html:true,
            text: 'Se encontrarón productos con un stock por debajo del permitido.<br/><a href="{{urlbase}}/stock_productos">Ver Stocks</a>',
            type: 'info',
            confirmButtonColor: "#28a745",
            confirmButtonText: "Aceptar",
            closeOnConfirm: false
        });
        {{/if}}
    {{/if}}
</script>
{{/section}}