<div class="modal fade" id="modal-eliminar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
            <h4 class="modal-title" id="txtTituloEliminar">Eliminar registro</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
            <form action="" method="POST" id="formEliminar">
            </form>
            <p id="mensajeEliminar"></p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-white" data-bs-dismiss="modal">No, cancelar</button>
          <button type="button" class="btn btn-danger" id="btnEliminar">Si, eliminar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
   <!-- /.modal -->