<div class="modal fade" id="modal-password">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
            <h4 class="modal-title" id="txtTituloPassword">Reemplazar contraseña</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
            <p id="mensajePassword"></p>
            <form action="" method="POST" id="formPassword">
                <input type="text" name="password" class="form-control" required>
            </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-white" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="btnPassword">Actualizar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
   <!-- /.modal -->